@use "./base/base";
@use "./base/reset";
@use "./global" as *;

//共通パーツ
.inner {
  width: 100%;
  max-width: rem();
}

.sp-none {
  @include mq("md") {
    display: none;
  }
}

.sp-show {
  display: none;

  @include mq("md") {
    display: block;
  }
}
